spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ebanking?createDatabaseIfNotExist=true
    username: root
    password: 2004
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data: 
    redis:
      host: localhost
      port: 6379
server:
  port: 8055